    <div class="container">
        <nav class="navbar navbar-inverse">
 <title> Mongo Scraper </title>

  <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Saved Articles</a></li>
  <p><a class="btn btn-warning btn-lg" id="scrape-button" href="#" role="button"><span class="" aria-hidden="true"></span> Scrape</a></p> 
  </ol
  </nav>
       
        
        <div class="jumbotron">
            <h2>Mongo Scraper</h2>
            
            <hr>
            
        </div>
        <div class="panel panel-success" id = "footer">
             "<a class='btn btn-warning btn-lg' id='comment-button' href='#' role='button'><span class=""aria-hidden='true'></span> Comment </a>"




        </div>
    

    </div>



